@media (max-width: 1200px) {
	body.main .container-header {
		padding: 15px;
	}
	body.main .container-header ul.header-links li {
		margin-right: 20px;
	}

	body.main .container-header .header-logo img {
		max-width: 30px;
	}

	body.main .container-header .header-logo {
		font-size: 18px;
	}

	body.main .container-header a.btn {
	    padding: 14px 58px 14px 20px;
	}

	body.main .grid {
	    grid-template-columns: repeat(4, 1fr);
	    grid-gap: 30px 15px;
	}

	body.main .balance {
		display: none;
	}

	body.main .mobile-balance {
		display: flex;
		justify-content: center;
	}

	body.main .mobile-balance .balance-head {
		margin-right: 30px;
	}

	body.main .status {
		padding: 25px 20px;
	}

	body.main .info-1 {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	body.main .info-2 {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
	body.main .info-3 {
		grid-column: 3 / 4;
		grid-row: 1 / 2;
	}
	body.main .info-4 {
		grid-column: 4 / 5;
		grid-row: 1 / 2;
	}

	body.main .info-block {
		padding: 25px 15px 20px;
	}

	body.main .info-block .sum {
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 20px;
	}

	body.main .info-block .orders span {
		font-size: 58px;
	}

	body.main .info-block .descr {
	    font-size: 12px;
	    line-height: 14px;
	}

	body.main .last-orders {
		padding: 30px 15px 0px;
	}

	body.main .last-orders .item {
		margin-bottom: 15px;
	}

	.last-orders .item {
		padding: 10px 15px;
	}

	.last-orders .item .service .img {
	    margin-right: 10px;
	}

	.last-orders .item .td .num, .last-orders .item .service .descr {
		font-size: 10px;
	}

	.last-orders .item .td .descr, .last-orders .item .service .id {
		font-size: 10px;
	}
}

@media (min-width: 1200px) {
.container {
    max-width: 1600px;
    box-sizing: content-box;
}
}

@media (max-width: 992px) {
	body.main .container-header ul.header-links {
		display: none;
	}

	body.main .container-header .btn-menu {
		display: block;
	}

	body.main .grid {
	    grid-template-columns: repeat(2, 1fr);
	    grid-gap: 15px;
	}

	body.main .info-1 {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	body.main .info-2 {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
	body.main .info-3 {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
	body.main .info-4 {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}

	body.main .status {
		grid-column: 1 / 3;
		grid-row: 3 / 4;
	}

	body.main .last-orders {
	    grid-column: 1 / 3;
	    grid-row: 4 / 5;
	}

	body.main .status .price {
		max-width: 300px;
		margin: 0 auto 25px;
	}
}

@media (max-width: 768px) {
	
}

@media (max-width: 520px) {
	body.main .container-header .links {
		display: none;
	}

	body.main .container-header .menu {
		display: block;
	}

	.balance {
		display: none;
	}

	.mobile-balance {
		display: flex;
	}

	body.main .grid {
	    grid-template-columns: repeat(1, 1fr);
	}

	body.main .info-1 {
		grid-column: 1;
		grid-row: 1 / 2;
	}
	body.main .info-2 {
		grid-column: 1;
		grid-row: 2 / 3;
	}
	body.main .info-3 {
		grid-column: 1;
		grid-row: 3 / 4;
	}
	body.main .info-4 {
		grid-column: 1;
		grid-row: 4 / 5;
	}

	body.main .status {
		grid-column: 1;
		grid-row: 5 / 6;
	}

	body.main .last-orders {
	    grid-column: 1;
	    grid-row: 6 / 7;
	}

	body.main .info-block {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 20px 15px;
	}

	body.main .info-block .orders {
		width: auto;
		margin-bottom: 0;
		font-size: 24px;
	}

	body.main .info-block .sum {
		margin-bottom: 0;
	}

	body.main .info-block .orders span {
		white-space: nowrap;
	}

	body.main .mobile-balance {
		justify-content: space-between;
	}

	body.main .mobile-balance .balance-head {
		margin-right: 0;
	}

	body.main .last-orders .item {
		flex-wrap: wrap;
		background: #fff;
	}

	body.main .last-orders {
		padding: 15px 0;
		background: #F6F6FA;
		box-shadow: none;
	}
	
	.last-orders .title {
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 15px;
	}

	body.main .last-orders .item {
		display: inline-flex;
		width: calc(50% - 10px);
		padding: 15px 15px 5px;
	}

	body.main .last-orders .item:nth-child(even) {
		margin-right: 15px;
	}

	.last-orders .item .td .descr, .last-orders .item .service .id, .last-orders .item .service .descr {
		font-size: 12px;
	}

	.last-orders .item .td .num {
		font-size: 14px;
	}

	.last-orders .item .service {
		margin-bottom: 10px;
	}

	.last-orders .item .td {
		margin-bottom: 10px;
	}

}

@media (max-width: 480px) {

}

@media (max-width: 375px) {

}

@media (max-width: 320px) {

}


