/* 
	1.Header
	2.Hello
	3.Last projects
	4.Skills
	5.Portfolio
	6.Contact me
*/


/* 1.Header */

.header {
    padding-top: 32px;
    position: absolute;
    top: 0;
    z-index: 1000;
    transition: 0.1s;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.header .header-logo {
	font-family: Acrom-Bold;
	font-style: normal;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	display: flex;
	align-items: center;
}

.header .header-logo img {
	margin-right: 7px;
}

.header .header-logo:hover {
	text-decoration: none;
}

.header ul.header-links {
}

.header ul.header-links li {
	display: inline-block;
	margin-right: 45px;
}

.header ul.header-links li:last-child {
	margin-right: 0;
}

.header ul.header-links li.active a {
	opacity: 1;
}

.header ul.header-links li a {
	font-family: Gilroy-Bold;
	font-style: normal;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	opacity: 0.5;
}

.header a.btn {
	padding: 16px 63px 16px 40px;
	display: flex;
	align-items: center;
	line-height: 19px;
}

.header a.btn span.circle {
	width: 38px;
	height: 38px;
	background: #FFC238;
	border-radius: 100px;
	position: absolute;
	right: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header a.btn img {
    margin-left: 0;
}

#banner {
	background: linear-gradient(90deg, #707AE4 0%, #72A5F4 49.48%, #6B75E3 100%);
	box-shadow: 0px 15px 35px rgba(112, 122, 228, 0.15);
	padding: 230px 0;
	position: relative;
}

#banner:before {
	content: '';
	background: url(../img/circle-banner.svg) no-repeat center center;
	left: -120px;
	top: 0;
	bottom: 0;
	display: block;
	position: absolute;
	width: 1076px;
	height: 1054px;
	-webkit-animation: pulsing 4s infinite;
	animation: rotate 30s linear infinite;
}

#banner:after {
	content: '';
	background: url(../img/circle2-banner.svg) no-repeat center center;
	top: 0;
	right: 0;
	display: block;
	position: absolute;
	width: 178px;
	height: 177px;
}

#banner h1 {
	margin-bottom: 46px;
	position: relative;
}

#banner h1:after {
	content: '';
	width: 75px;
	height: 5px;
	display: block;
	background: #FFC238;
	border-radius: 100px;
	position: absolute;
	bottom: -22px;
	left: 0;
}

#banner .subtitle {
	margin-bottom: 34px;
}

@keyframes rotate {
	to { -webkit-transform: rotate(360deg) }

}

section#cards {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -200px;
	margin-bottom: 100px;
}

.card {
	background: #FFFFFF;
	box-shadow: 0px 25px 45px rgba(216, 216, 237, 0.45);
	border-radius: 12px;
	width: 360px;
	height: 400px;
	margin-right: 55px;
	display: flex;
	position: relative;
	text-align: center;
}

.card:last-child {
	margin-right: 0;
}

.card:before {
	content: '';
	background: url(../img/card-points.svg) no-repeat center center;
	position: absolute;
	left: 30px;
	bottom: 110px;
	width: 67px;
	height: 67px;
	display: block;
}

.card:after {
	content: '';
	background: url(../img/card-points.svg) no-repeat center center;
	position: absolute;
	top: 30px;
	right: 30px;
	width: 67px;
	height: 67px;
	display: block;
}

.card .img {
	height: 250px;
	background: url(../img/card-img.svg) no-repeat center center;
	display: flex;
	align-items: center;
	justify-content: center;
}


.card .title {
	font-family: Gilroy-Bold;
	font-style: normal;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #2A2B31;
	position: relative;
	margin-bottom: 34px;
	display: flex;
	justify-content: center;
}

.card .title:before {
	content: '';
	position: absolute;
	bottom: -17px;
	width: 30px;
	height: 4px;
	background: linear-gradient(40.62deg, #6B75E3 25.96%, #72A4F3 80.15%);
	box-shadow: 0px 4px 15px rgba(107, 117, 227, 0.65);
	border-radius: 100px;
	display: block;
}

.card .title:after {
	content: 
}

.card .descr {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #A3B2D2;
}

#functions {

}

#functions .title {
	font-family: Gilroy-Bold;
	font-style: normal;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #2A2B31;
}

#functions .descr {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #A3B2D2;
}






header {
	width: 100%;
	background: linear-gradient(90deg, #707AE4 0%, #72A5F4 49.48%, #6B75E3 100%);
	box-shadow: 0px 15px 35px rgba(112, 122, 228, 0.15);
}

.container-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 36px;
	box-sizing: content-box;
	width: initial;
}


.container-header .header-logo {
	font-family: Acrom-Bold;
	font-style: normal;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	display: flex;
	align-items: center;
}

.container-header .header-logo img {
	margin-right: 7px;
}

.container-header .header-logo:hover {
	text-decoration: none;
}

.container-header ul.header-links {
}

.container-header ul.header-links li {
	display: inline-block;
	margin-right: 45px;
}

.container-header ul.header-links li:last-child {
	margin-right: 0;
}

.container-header ul.header-links li.active a {
	opacity: 1;
}

.container-header ul.header-links li a {
	font-family: Gilroy-Bold;
	font-style: normal;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	opacity: 0.5;
}

.container-header ul.header-links li a:hover {
	opacity: 1;
	text-decoration: none;
}

.links {
	display: flex;
	align-items: center;
}
.links .btn-settings {
	margin-right: 20px;
}


.links .btn-notify {
	text-decoration: none;
	position: relative;
}

.links .btn-notify span {
	font-family: Gilroy-Bold;
	font-style: normal;
	font-size: 12px;
	line-height: 15px;
	color: #000000;
	width: 20px;
	height: 20px;
	background: #FFC33C;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	position: absolute;
	top: -8px;
	right: -8px;
}

.container-header .btn-menu {
	display: none;
}



.balance {
	background: #FFFFFF;
	box-shadow: 0px 15px 65px rgba(197, 202, 224, 0.25);
	border-radius: 18px;
	padding: 25px;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	width: 295px;
}

.balance .balance-head {
	display: flex;
	margin-bottom: 30px;
	align-items: center;
}

.balance .coin {
	margin-right: 13px;
}

.balance .text .descr {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #B7BBDF;
}

.balance .text .sum {
	font-family: Gilroy-Bold;
	font-style: normal;
	font-size: 20px;
	line-height: 24px;
	color: #2A2B31;
}

.mobile-balance {
	background: #fff;
	padding: 8px 15px;
	display: none;
	align-items: center;
	justify-content: space-between;
}

.mobile-balance .balance-head {
	display: flex;
	align-items: center;
}

.mobile-balance .coin {
	margin-right: 10px;
}

.mobile-balance .coin img {
	width: 30px;
}

.mobile-balance .descr {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	color: #B7BBDF;
	margin-right: 5px;
}

.mobile-balance .sum {
	font-family: Gilroy-Bold;
	font-style: normal;
	font-size: 12px;
	line-height: 15px;
	color: #2A2B31;
}

.mobile-balance a.btn-blue {
	font-size: 12px;
	line-height: 24px;
	padding: 5px 15px;
}

.mobile-balance a.btn-blue img {
	width: 12px;
	margin-left: 7px;
}


.status {
	background: #FFFFFF;
	box-shadow: 0px 15px 65px rgba(197, 202, 224, 0.25);
	border-radius: 18px;
	padding: 25px;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	width: 295px;
}

.status .descr,
.status .next-descr {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #B7BBDF;
	margin-bottom: 5px;
}

.status .rang,
.status .next-rang {
	font-family: Gilroy-Bold;
	font-style: normal;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #2A2B31;
	margin-bottom: 17px;
}

.status .img {
	text-align: center;
	display: block;
	margin-bottom: 30px;
}

.status .price {
	background: #F1F1FE;
	box-shadow: 0px 6px 15px rgba(224, 224, 249, 0.15);
	border-radius: 6px;
	display: flex;
	align-items: center;
	margin-bottom: 25px;
	padding: 15px 20px;
}

.status .price .img {
	margin-right: 17px;
	margin-bottom: 0;
}

.status .price .text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.status .price .text .descr {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #B3B3D6;
	margin-bottom: 4px;
}

.status .price .text .sum {
	font-family: Gilroy-Bold;
	font-style: normal;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}

.status hr {
	background: #e3e4f0;
	margin: 0 auto 20px;
	max-width: 200px;
}

.status .terms .descr {
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 10px;
}

.status .terms .sum {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #000000;
	margin-bottom: 20px;
}

.status a.btn-grey {
	width: 200px;
	max-width: 200px;
	margin: 0 auto;

}

.info-1 {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}
.info-2 {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}
.info-3 {
	grid-column: 4 / 5;
	grid-row: 1 / 2;
}
.info-4 {
	grid-column: 5 / 6;
	grid-row: 1 / 2;
}

.info-block {
	background: #FFFFFF;
	box-shadow: 0px 15px 250px rgba(219, 219, 239, 0.65);
	border-radius: 12px;
	text-align: center;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 25px;
}

.info-block .orders {
	font-size: 34px;
	line-height: 41px;
	color: #2A2B31;
	margin-bottom: 6px;
	position: relative;
	width: 100%;
}

.info-block .orders span {
	font-family: Gilroy-Bold;
	font-size: 64px;
	line-height: 77px;
	color: #C9CCE7;
	opacity: 0.2;
	position: absolute;
	left: 0;
	right: 0;
	top: -50%;
}

.info-block .sum {
	font-size: 16px;
	line-height: 19px;
	color: #2A2B31;
	margin-bottom: 33px;
}

.info-block .descr {
	font-size: 16px;
	line-height: 19px;
	color: #B7BBDF;
}

.last-orders {
	grid-column: 2 / 6;
	grid-row: 2 / 3;
	background: #FFFFFF;
	box-shadow: 0px 15px 250px rgba(219, 219, 239, 0.65);
	border-radius: 12px;
	padding: 50px 40px 25px;

}

.last-orders .title {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	line-height: 25px;
	color: #000000;
	margin-bottom: 28px;
}

.last-orders .item {
	background: #F0F0FF;
	box-shadow: 0px 15px 35px rgba(240, 240, 255, 0.25);
	border-radius: 6px;
	width: 100%;
	padding: 16px 25px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.last-orders .item .service {
	display: flex;
	align-items: center;
}

.last-orders .item .service .img {
	margin-right: 20px;
}

.last-orders .item .service .img img {
	max-width: 21px;
}

.last-orders .item .service .text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.last-orders .item .td {
	display: flex;
	flex-direction: column;
}

.last-orders .item .td .descr,
.last-orders .item .service .id {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.03em;
	color: #B5B5DF;
}

.last-orders .item .td .num,
.last-orders .item .service .descr {
	font-family: Gilroy-Bold;
	font-style: normal;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.03em;
	color: #000000;
}

.last-orders .item .td .num.stat {
	color: #7EB751;
}

.mobile-menu {
	position: fixed;
	z-index: 99;
	top: 60px;
	left: 0;
	right: 0;
	bottom: 0;
	background: #F5F5FA;
	display: none;
}

.mobile-menu.show {
	display: block;
}

.mobile-menu .mobile-balance {
	margin-top: 0;
	margin-bottom: 16px;
}

.mobile-menu ul {
	padding: 0 20px;
}

.mobile-menu li a {
	font-family: Gilroy-Bold;
	font-style: normal;
	font-size: 16px;
	line-height: 19px;
	color: #9393C0;
	opacity: 0.5;
	text-decoration: none;

	background: #EBEBF5;
	border-radius: 3px;
	width: 100%;
	padding: 16px 23px 15px;
	display: block;
	margin-bottom: 15px;
	position: relative;
}

.mobile-menu li.active a,
.mobile-menu li a:hover {
	color: #000000;
	opacity: 1;
	background: #fff;
}

.mobile-menu li.active a:before,
.mobile-menu li a:hover:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 13px;
	bottom: 12px;
	width: 2px;
	height: 25px;
	background: #FEC23C;

}

.mobile-menu .links {
	padding: 0 20px;
	margin-bottom: 22px;
	justify-content: space-between;
}

.mobile-menu .links .btn-notify {
	margin-right: 8px;
}

.mobile-menu .links a.btn {}


.promotion {
	grid-column: 2 / 5;
	grid-row: 1 / 3;
}

.promotion .item {
	margin-bottom: 25px;
	background: #fff;
	padding: 40px;
	border-radius: 18px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
	transition: .2s ease-out;
}
.promotion .item:hover {
	box-shadow: 0px 5px 10px 0px #D8D8E9;
}

.promotion .item .left {
	display: flex;
	align-items: center;

}

.promotion .item .head {
	display: flex;
	align-items: center;
	padding-right: 50px;
	border-right: 1px solid #E2E7F0;
}

.promotion .item .head .img {
	margin-right: 28px;
}

.promotion .item .head .descr {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #AFBAD5;
}

.promotion .item .head .platform {
	font-family: Gilroy-Bold;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 17px;
	color: #000;
}

.promotion .item .content-descr {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	color: #AFBAD5;
	padding-left: 30px;
}

.task-selection {
	border-radius: 18px;
	background: #fff;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: .2s ease-out;
	text-decoration: none;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	height: 130px;
}

.task-selection:hover {
	box-shadow: 0px 5px 10px 0px #D8D8E9;
	text-decoration: none;
}

.task-selection .left {
	display: flex;
	align-items: center;
}

.task-selection .img {
	margin-right: 20px;
}

.task-selection .platform {
	font-family: Gilroy-Bold;
	font-style: normal;
	font-size: 14px;
	line-height: 17px;
	text-decoration-line: underline;
	color: #CFD4E4;
	margin-bottom: 4px;
}

.task-selection .descr {
	font-family: Gilroy-Bold;
	font-style: normal;
	font-size: 16px;
	line-height: 19px;
	color: #2A2B31;

}

.tasks {
	grid-column: 3 / 5;
	grid-row: 1 / 3;
}

.tasks .item {
	border-radius: 18px;
	background: #fff;
	padding: 30px;
	margin-bottom: 25px;
	transition: .2s ease-out;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	height: 130px;
}

.tasks .item:hover {
	box-shadow: 0px 5px 10px 0px #D8D8E9;
	text-decoration: none;
}

.tasks .item .head {
	display: flex;
	align-items: center;
}

.tasks .item .head .img {
	margin-right: 20px;
}

.tasks .item .head .name {
	font-family: Gilroy-Bold;
	font-style: normal;
	font-size: 18px;
	line-height: 22px;
	color: #2A2B31;
	margin-bottom: 4px;
}

.tasks .item .head .descr {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	color: #AFBAD5;
}

.tasks.order_3 .link {
	background: #FFFFFF;
	border-radius: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	height: 130px;

}

.tasks.order_3 .link .left {
	display: flex;
	align-items: center;
}

.tasks.order_3 .link .img {
	margin-right: 20px;
}

.tasks.order_3 .link .title {
	font-family: Gilroy-Bold;
	font-style: normal;
	font-size: 18px;
	line-height: 22px;
	color: #2A2B31;
	margin-bottom: 4px;
}

.tasks.order_3 .link .descr {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	color: #AFBAD5;
}

.tasks.order_3 .link input {
	background: #F0F2FC;
	border: 1px solid #E3E6F8;
	box-sizing: border-box;
	box-shadow: 0px 15px 35px rgba(240, 240, 255, 0.25);
	border-radius: 100px;
	padding: 18px 22px;
	width: 330px;
	max-width: 330px;
	transition: .2s ease-out;

	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	color: #000;
}

.tasks.order_3 .link input:hover,
.tasks.order_3 .link input:focus {
	border: 1px solid #C6CCF0;
}